*.o
*.so
*.a
*.swp
*.cache
*.log
Release/MMDAgent
bin/
build/
Library_JPEG/src/jconfig.h
Library_Flite/include/flite_version.h
Library_Flite/main/flite_voice_list.c
Release/AppData/Logios/Grammar
.svn
*.pyc
Library_libpng/src/pnglibconf.h
Release/AppData/Logios/src/Kade.gra
